<!-- Page header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">活动标题</span>
      </h4>
      <ul class="breadcrumb breadcrumb-caret position-right">
        <li>
          <a [routerLink]="['/']">首页</a>
        </li>
        <li>
          <a [routerLink]="['/master']">活动管理</a>
        </li>
        <li class="active">详情</li>
      </ul>
    </div>
  </div>
</div>
<!-- /page header -->
<div class="page-container no-margin-bottom no-padding-bottom">
  <div class="page-content">
    <div class="content-wrapper">

      <div class="navbar navbar-default navbar-component" style="position: relative; z-index: 27;">
        <div class="navbar-collapse collapse" id="navbar-navigation">
          <ul class="nav navbar-nav">
            <li>
              <a [routerLink]="['/master/dashboard']">DashBoard</a>
            </li>
            <li>
              <a [routerLink]="['/master/review']">审核设置</a>
            </li>
            <li>
              <a [routerLink]="['/master/approval']">评选设置</a>
            </li>
            <li>
              <a [routerLink]="['/master/statistics']">统计报表</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Marketing campaigns -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">审核设置</h6>
          <div class="heading-elements">
            <div class="heading-btn">
              <button class="btn btn-primary" (click)="this.SetGlobal()">全局设置</button>
              <button class="btn btn-default" (click)="this.SetProvince()">例外设置</button>
            </div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
            <tr>
              <th>名称</th>
              <th style="width: 150px">总部</th>
              <th style="width: 150px">分部</th>
              <th style="width: 150px">学院</th>
            </tr>
            </thead>
            <tbody>
            <tr class="active border-double">
              <td colspan="4">全局设置</td>
            </tr>
            <tr>
              <td>全局设置</td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
            </tr>
            </tbody>
            <tbody>
            <tr class="active border-double">
              <td colspan="4">例外设置</td>
            </tr>
            <tr>
              <td>北京</td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
            </tr>
            <tr>
              <td>天津</td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
            </tr>
            <tr>
              <td>上海</td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-unchecked"></i></td>
            </tr>
            <tr>
              <td>广东</td>
              <td><i class="icon-checkbox-checked"></i></td>
              <td><i class="icon-checkbox-unchecked"></i></td>
              <td><i class="icon-checkbox-unchecked"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /marketing campaigns -->


    </div>
  </div>
</div>


<!--<div class="page-container">-->
<!--<div class="page-content">-->

<!--&lt;!&ndash; Opposite sidebar &ndash;&gt;-->
<!--<div class="sidebar sidebar-main sidebar-default sidebar-separate">-->
<!--<div class="sidebar-content">-->

<!--<div class="sidebar-category">-->
<!--<div class="category-title">-->
<!--<span>全局审核流程</span>-->
<!--</div>-->

<!--<div class="category-content">-->
<!--<ul class="media-list">-->
<!--<li class="media">-->
<!--<div class="media-left">-->
<!--<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i-->
<!--class="icon-git-pull-request"></i></a>-->
<!--</div>-->
<!--<div class="media-body">-->
<!--学院审核-->
<!--<div class="media-annotation">未通过：退回</div>-->
<!--</div>-->
<!--</li>-->

<!--<li class="media">-->
<!--<div class="media-left">-->
<!--<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i-->
<!--class="icon-git-pull-request"></i></a>-->
<!--</div>-->
<!--<div class="media-body">-->
<!--分部审核-->
<!--<div class="media-annotation">未通过：退回</div>-->
<!--</div>-->
<!--</li>-->

<!--<li class="media">-->
<!--<div class="media-left">-->
<!--<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i-->
<!--class="icon-git-pull-request"></i></a>-->
<!--</div>-->
<!--<div class="media-body">-->
<!--总部审核-->
<!--<div class="media-annotation">未通过：退回</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="row mt-15">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary btn-block" type="button" (click)="this.SetGlobal()">设置</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /opposite sidebar &ndash;&gt;-->

<!--<div class="content-wrapper">-->

<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h6 class="panel-title">-->
<!--例外规则设置-->
<!--</h6>-->
<!--<div class="heading-elements">-->
<!--<div class="heading-btn">-->
<!--<button type="button" class="btn btn-primary ">新建例外规则</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
