<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">活动管理</span>
            </h4>
            <ul class="breadcrumb breadcrumb-caret position-right">
                <li>
                    <a [routerLink]="['/']">首页</a>
                </li>
                <li class="active">活动管理</li>
            </ul>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">


            <!-- Search field -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">搜索活动</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li>
                                <a data-action="collapse"></a>
                            </li>
                            <li>
                                <a data-action="close"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <form action="#" class="main-search">
                        <div class="input-group content-group">
                            <div class="has-feedback has-feedback-left">
                                <input type="text" class="form-control input-xlg">
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-muted text-size-base"></i>
                                </div>
                            </div>

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-xlg">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /search field -->



            <!-- Tabs -->
            <ul class="nav nav-lg nav-tabs nav-tabs-bottom search-results-tabs">
                <li class="active"><a href="javascript:">全部</a></li>
                <li><a href="javascript:">奖学金</a></li>
                <li><a href="javascript:">优秀毕业生</a></li>

                <li class="dropdown pull-right">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-plus3"></i> 新建活动
                        <span class="visible-xs-inline-block position-right">Options</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a (click)="this.Create()">奖学金</a></li>
                        <li><a (click)="this.Create()">优秀毕业生</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /tabs -->


            <!-- List -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb">
                            <img src="assets/images/placeholder.jpg" class="img-responsive img-rounded" alt="">
                            <div class="caption-overflow">
                                <span>
                                    <a href="javascript:" class="btn bg-danger-400 btn-icon btn-xs">
                                        <i class="icon-bin"></i>
                                    </a>
                                    <a href="javascript:" class="btn bg-success-400 btn-icon btn-xs">
                                        <i class="icon-medal2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="caption">
                            <div class="content-group-sm media">
                                <div class="media-body">
                                    <h6 class="text-semibold no-margin">
                                        <a [routerLink]="['dashboard']" class="text-default">活动标题</a>
                                    </h6>
                                    <small class="text-muted">by
                                        <a href="#">创建机构名称</a>
                                    </small>
                                </div>
                            </div>
                            活动介绍
                        </div>
                    </div>
                </div>
            </div>

            <!-- /list -->


            <!-- Pagination -->
            <div class="text-center content-group-lg pt-20">
                <ul class="pager">
                    <li class="disabled">
                        <a href="javascript:" class="legitRipple">共有：12条数据</a>
                    </li>
                    <li class="disabled legitRipple">
                        <a href="javascript:" class="legitRipple">分页：1/2</a>
                    </li>
                    <li class="pgNext disabled">
                        <a href="javascript:" class="legitRipple">首页</a>
                    </li>
                    <li class="pgNext disabled">
                        <a href="javascript:" class="legitRipple">上一页</a>
                    </li>
                    <li class="pgNext">
                        <a href="javascript:" class="legitRipple">下一页</a>
                    </li>
                    <li class="pgNext">
                        <a href="javascript:" class="legitRipple">末页</a>
                    </li>
                </ul>
            </div>
            <!-- /pagination -->

        </div>
        <!-- /main content -->
    </div>
</div>
