<!-- Page header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">信息审批</span>
      </h4>
      <ul class="breadcrumb breadcrumb-caret position-right">
        <li>
          <a [routerLink]="['/']">首页</a>
        </li>
        <li>
          <a [routerLink]="['/expert']">活动管理</a>
        </li>
        <li class="active">详情</li>
      </ul>
    </div>
  </div>
</div>
<!-- /page header -->
<div class="page-container no-margin-bottom no-padding-bottom">
  <div class="page-content">
    <div class="content-wrapper">


      <!-- Search field -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">搜索报名信息</h5>
        </div>

        <div class="panel-body">
          <form action="#" class="main-search">
            <div class="input-group content-group">
              <div class="has-feedback has-feedback-left">
                <input type="text" class="form-control input-xlg">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-muted text-size-base"></i>
                </div>
              </div>

              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-xlg">搜索</button>
              </div>
            </div>
          </form>

          <div class="row search-option-buttons">
            <div class="col-sm-12">
              <ul class="list-inline list-inline-condensed no-margin-bottom">
                <li><a [routerLink]="['/expert/dashboard']" class="btn btn-link btn-sm">评选</a></li>
                <li><a [routerLink]="['/expert/adjust']" class="btn btn-link btn-sm">评选人调整</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /search field -->
    </div>
  </div>
</div>


<div class="page-container">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">
            报名信息（只显示未评选项目）
          </h6>
        </div>

        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
            <tr>
              <th><input type="checkbox" class="styled"></th>
              <th>学号</th>
              <th>姓名</th>
              <th>学习中心</th>
              <th>入学时间</th>
              <th>本/专科</th>
              <th>必修平均分</th>
              <th>其他平均分</th>
              <th>毕业论文成绩</th>
              <th>评选人</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input type="checkbox" class="styled"></td>
              <td>000000</td>
              <td>六个字的名字</td>
              <td>学习中心名称</td>
              <td>201703</td>
              <td>本科</td>
              <td>80.5</td>
              <td>80.5</td>
              <td>70.5</td>
              <td>专家一</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
          <div class="heading-elements">
            <span class="heading-text text-semibold">评选权转给：</span>
            <form class="heading-form " action="#">
              <div class="form-group">
                <select class="form-control">
                    <option value="AK">专家一</option>
                    <option value="HI">专家二</option>
                    <option value="CA">专家三</option>
                    <option value="OR">专家四</option>
                </select>
              </div>

              <button type="button" class="btn btn-default heading-btn">确定</button>
            </form>

          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="text-center content-group-lg pt-20">
        <ul class="pager">
          <li class="disabled">
            <a href="javascript:" class="legitRipple">共有：12条数据</a>
          </li>
          <li class="disabled legitRipple">
            <a href="javascript:" class="legitRipple">分页：1/2</a>
          </li>
          <li class="pgNext disabled">
            <a href="javascript:" class="legitRipple">首页</a>
          </li>
          <li class="pgNext disabled">
            <a href="javascript:" class="legitRipple">上一页</a>
          </li>
          <li class="pgNext">
            <a href="javascript:" class="legitRipple">下一页</a>
          </li>
          <li class="pgNext">
            <a href="javascript:" class="legitRipple">末页</a>
          </li>
        </ul>
      </div>
      <!-- /pagination -->
    </div>

  </div>
</div>
